<app-nav></app-nav>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<div class="container">
    <h2>Create An Account</h2>

    <form #createAccount="ngForm" (ngSubmit)="onSubmitAccount(createAccount)">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input id="firstname" name="firstname" class="form-control" [(ngModel)]="user.firstname" required #firstname="ngModel" pattern="^[A-Z][a-z]*$">
            <span class="help-block" *ngIf="firstname.invalid && firstname.touched">
                <i>First name is required/First letter must be capital</i>
            </span>
        </div>

        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input id="lastname" name="lastname" class="form-control" [(ngModel)]="user.lastname" required #lastname="ngModel" pattern="^[A-Z][a-z]*$">
            <span class="help-block" *ngIf="lastname.invalid && lastname.touched">
                <i>Last name is required/First letter must be capital</i>
            </span>
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input id="email" name="email" class="form-control" [(ngModel)]="user.email" required #email="ngModel" pattern="([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)">
            <span class="help-block" *ngIf="email.invalid && email.touched">
                <i>Email Address is required/Invalid</i>
            </span>
        </div>

        <!-- <div class="form-group">
            <label for="phone">Phone Number</label>
            <input id="phone" name="phone" class="form-control" [(ngModel)]="user.phone" required #phone="ngModel">
            <span class="help-block" *ngIf="phone.invalid && phone.touched">
                <i>Phone Number is required</i>
            </span>
        </div> -->

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" class="form-control" [(ngModel)]="user.password" required #password="ngModel" type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$"> 
            <span class="help-block" *ngIf="password.invalid && password.touched">
                <i>Password is required/Password must contain at least 1 captial letter, lower case letter and numeric digit and must be between 4 - 8 charcters long </i>
            </span>
        </div>

        <div class="form-group">
                <label for="conpassword">Confirm Password</label>
<!--             <label for="conpassword">Confirm Password</label> -->
            <input id="conpassword" name="conpassword" class="form-control" [(ngModel)]="user.conpassword" compare="password" #conpasswordField="ngModel" type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$">
            <span class="help-block" *ngIf="conpasswordField.errors?.notMatched">Password does not match</span>
        </div>

        <button class="btm btn-primary" [disabled]="createAccount.invalid">Create Account</button>
        <br>
        <br>
        <br>
        <div [hidden]="!postStatus" class="alert alert-danger"> {{ postStatusMessage }}</div>
    </form>

</div>

