<app-nav></app-nav>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<div class="container">
    <h2>Create A Review</h2>

    <form #createReview="ngForm" (ngSubmit)="onSubmitReview(createReview)">
      <br>
      <h4>{{ reviews.venueName }}</h4>
      <div class="form-group"> 
          <label for="reviewDescription">Review Description</label>
          <textarea id="reviewDescription" name="reviewDescription" type="text" class="md-textarea md-textarea-auto form-control" mdbInput [(ngModel)]="reviews.reviewDescription" required #reviewDescription="ngModel"></textarea>
          <!-- <input type="text" name="reviewDescription" [(ngModel)]="reviewDescription" class="form-control submissionField" required> -->
      </div>

      <div class="form-group">
          <label for="rating">Rating</label>
          <br>
          <select id="rating" name="rating" [(ngModel)]="reviews.rating">
              <option value="one">1</option>
              <option value="two">2</option>
              <option value="three">3</option>
              <option value="four">4</option>
              <option value="five">5</option>
          </select>
      </div>

      <div class="form-group">
          <label for="thumbs">Thumbs Up or Down</label>
          <br>
          <input type="radio" name="count" value="thumbsUp" [(ngModel)]="reviews.thumbsUp">Thumbs Up<br>
          <input type="radio" name="count" value="thumbsDown" [(ngModel)]="reviews.thumbsDown">Thumbs Down<br>
      </div>

      <button class="btm btn-primary" [disabled]="createReview.invalid">Create Review</button>

    </form>


</div>

