<!-- <app-nav></app-nav>
<mat-card>
  <mat-card-title>
    Create A Review
  </mat-card-title>
  <mat-card-content>
    <form
      class="example-form"
      id="createReview"
      #userData="ngForm"
    >
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Review"
                [(ngModel)]="review"
                required
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <label>Rating</label>
            <br>
            <select (change)="selectChange1Handler($event)">
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
                <option value="five">5</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <mat-radio-group aria-label="selectChange2Handler($event)">
                <mat-radio-button value="1">Thumbs Up</mat-radio-button>
                <mat-radio-button value="2">Thumbs Down</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
      </table>
      <button (click)="submit()">Submit</button>
      <input type="submit" value="Create Review" mat-button />
    </form>
    <br>
    <div *ngIf="successMessage" [ngClass] = "'success'"> {{successMessage}} </div> 
  </mat-card-content>
</mat-card> -->
