<app-nav></app-nav>
<div>
    <table>
        <thead>
            <tr>
                <th>
                    VenueID
                </th>
                <th>
                    VenueName
                </th>
                <th>
                    VenueLocation
                </th>
                <th>
                    VenueGenre
                </th>
                <th>
                    ReviewID
                </th>
                <th>
                    VenueFlag
                </th>
                <th>
                    FlaggedAs
                </th>
                <th>
                    Reviews
                </th>
            </tr>
            <tr>
                <td>
                    101
                </td>
                <td>
                    Bungalow 8
                </td>
                <td>
                    Barangaroo
                </td>
                <td>
                    Bar
                </td>
                <td>
                    34235248
                </td>
                <td>
                    <select (change)="selectChangeHandler($event)">
                        <option value="Select Venue Status">Select Venue Status</option>
                        <option value="Want To Visit">Want To Visit</option>
                        <option value="Visited">Visited</option>
                      </select>
                </td>
                <td>
                    {{selectedOption}}
                </td>
                <td>
                    <ng-container *ngIf="showRev  == true">
                        <button type="Review">Leave A Review</button>
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td>
                    102
                </td>
                <td>
                    Criniti's
                </td>
                <td>
                    Darling Harbour
                </td>
                <td>
                    Restaurant
                </td>
                <td>
                    30485703
                </td>
                <td>
                    <select (change)="selectChange1Handler($event)">
                        <option value="Select Venue Status">Select Venue Status</option>
                        <option value="Want To Visit">Want To Visit</option>
                        <option value="Visited">Visited</option>
                      </select>
                </td>
                <td>
                    {{selectedOption1}}
                </td>
            </tr>
            <tr>
                <td>
                    103
                </td>
                <td>
                    Opera Bar
                </td>
                <td>
                    Circular Quay
                </td>
                <td>
                    Bar
                </td>
                <td>
                    40734085
                </td>
                <td>
                    <select (change)="selectChange2Handler($event)">
                        <option value="Select Venue Status">Select Venue Status</option>
                        <option value="Want To Visit">Want To Visit</option>
                        <option value="Visited">Visited</option>
                      </select>
                </td>
                <td>
                    {{selectedOption2}}
                </td>
            </tr>
            <tr>
                <td>
                    104
                </td>
                <td>
                    Newtown Thai
                </td>
                <td>
                    Newtown
                </td>
                <td>
                    Restaurant
                </td>
                <td>
                    80587354
                </td>
                <td>
                    <select (change)="selectChange3Handler($event)">
                        <option value="Select Venue Status">Select Venue Status</option>
                        <option value="Want To Visit">Want To Visit</option>
                        <option value="Visited">Visited</option>
                      </select>
                </td>
                <td>
                    {{selectedOption3}}
                </td>
            </tr>
            <tr>
                <td>
                    105
                </td>
                <td>
                    Yulli's 
                </td>
                <td>
                    Surry Hills
                </td>
                <td>
                    Restaurant & Bar
                </td>
                <td>
                    20348758
                </td>
                <td>
                    <select (change)="selectChange4Handler($event)">
                        <option value="Select Venue Status">Select Venue Status</option>
                        <option value="Want To Visit">Want To Visit</option>
                        <option value="Visited">Visited</option>
                      </select>
                </td>
                <td>
                    {{selectedOption4}}
                </td>
            </tr>
            <tr>
                <td>
                    106
                </td>
                <td>
                    French Tacos
                </td>
                <td>
                    Newtown
                </td>
                <td>
                    Restaurant
                </td>
                <td>
                    80546583
                </td>
                <td>
                    <select (change)="selectChange5Handler($event)">
                        <option value="Select Venue Status">Select Venue Status</option>
                        <option value="Want To Visit">Want To Visit</option>
                        <option value="Visited">Visited</option>
                      </select>
                </td>
                <td>
                    {{selectedOption5}}
                </td>
            </tr>
            <tr>
                <td>
                    107
                </td>
                <td>
                    Pothong
                </td>
                <td>
                    Newtown
                </td>
                <td>
                    Restaurant
                </td>
                <td>
                    80857934
                </td>
                <td>
                    <select (change)="selectChange6Handler($event)">
                        <option value="Select Venue Status">Select Venue Status</option>
                        <option value="Want To Visit">Want To Visit</option>
                        <option value="Visited">Visited</option>
                      </select>
                </td>
                <td>
                    {{selectedOption6}}
                </td>
            </tr>
            <tr>
                <td>
                    108
                </td>
                <td>
                    Green Gourmet
                </td>
                <td>
                    St. Leonards 
                </td>
                <td>
                    Restaurant
                </td>
                <td>
                    55798439
                </td>
                <td>
                    <select (change)="selectChange7Handler($event)">
                        <option value="Select Venue Status">Select Venue Status</option>
                        <option value="Want To Visit">Want To Visit</option>
                        <option value="Visited">Visited</option>
                      </select>
                </td>
                <td>
                    {{selectedOption7}}
                </td>
            </tr>
            <tr>
                <td>
                    109
                </td>
                <td>
                    Frankie's Pizza
                </td>
                <td>
                    Sydney
                </td>
                <td>
                    Restaurant
                </td>
                <td>
                    20587354
                </td>
                <td>
                    <select (change)="selectChange8Handler($event)">
                        <option value="Select Venue Status">Select Venue Status</option>
                        <option value="Want To Visit">Want To Visit</option>
                        <option value="Visited">Visited</option>
                      </select>
                </td>
                <td>
                    {{selectedOption8}}
                </td>
            </tr>
            <tr>
                <td>
                    110
                </td>
                <td>
                    Vapiano
                </td>
                <td>
                    Sydney
                </td>
                <td>
                    Restaurant
                </td>
                <td>
                    205458754
                </td>
                <td>
                    <select (change)="selectChange9Handler($event)">
                        <option value="Select Venue Status">Select Venue Status</option>
                        <option value="Want To Visit">Want To Visit</option>
                        <option value="Visited">Visited</option>
                      </select>
                </td>
                <td>
                    {{selectedOption9}}
                </td>
            </tr>
        </thead>
    </table>
</div>
