<body>
  <table class="bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of currentFriends">
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td><button class="viewBtn"><a [routerLink] ="['/venue-list', user._id, user.firstname]">View Venue List</a></button>
            <button (click)="deleteFriend(user)">Remove</button></td>
      </tr>
    </tbody>
  </table>
  <p class="placeholder" *ngIf="!this.currentFriends.length">
    No Results Found
  </p>
  <div class="notification-container" *ngIf="this.status">
    <p>{{ statusMessage }}</p>
  </div>
</body>
