<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<agm-map></agm-map>
<app-nav></app-nav>
<h1>{{ listName }}</h1>
<div class="form-group" *ngIf="this.route.snapshot.paramMap.get('friendID') == 'user'">
  <input placeholder="Search to add venue to list" type="text" class="input" id="place" #addresstext autocomplete="off"
    autocapitalize="off" spellcheck="off">
</div>
<p></p>

<!-- show venues in lists -->
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Place ID</th>
        <th *ngIf="this.route.snapshot.paramMap.get('friendID') == 'user'">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let object of venues">
        <td>
          {{ object.name }}
        </td>
        <td>{{ object.formatted_phone_number }}</td>
        <td>
          {{ object.formatted_address }}
        </td>
        <td>{{ object.place_id }}</td>
        <td *ngIf="this.route.snapshot.paramMap.get('friendID') == 'user'">
          <button mat-button><i class="fa fa-trash" (click)="delete(object)"></i></button>
        </td>
        <!-- <td><a mat-button routerLink="/venue-list-view">View List</a></td> -->
      </tr>
    </tbody>
  </table>
</div>
<agm-map (mapReady)="loadList()"> </agm-map>