//Takes The Values Stored Under Name, Address & Label In The Markers Array & Displays It In Individual Table Rows
<td>{{ marker.name }}</td>
<td>{{ marker.address }}</td>
<td>{{ marker.label }}</td>
<td>
    //Stores The User's Selection From The Drop Down 
    <select (change)="selectChangeHandler($event)">
        //Generates The Options For The Dropdown From Which The User Can Select
        <option value="Select">Select</option>
        <option value="Want To Visit">Want To Visit</option>
        <option value="Visited">Visited</option>
    </select>      
</td>
//Displays The Users Selected Option From The Drop Down In The Respective Venue Row
<td>{{selectedOption}}</td>
<td>
  <ng-container *ngIf="showRev == true">
    <a mat-raised-button [routerLink]="['/create-review']" [queryParams]="{venueName: marker.name}">Leave A Review</a>
    <!-- <a mat-raised-button routerLink="/create-review">Leave A Review</a> -->
</ng-container>
</td>
