body {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
  text-align: center;
}

.bordered {
  border: solid black 1px;
  box-shadow: 1px, rgba(255, 255, 255, 0.8);
}

.bordered th {
  background-color: #c2185b;
  text-align: center;
  box-shadow: 1px, rgba(255, 255, 255, 0.8);
  text-shadow: 1px rgba(255, 255, 255, 255, 0.3);
}

.bordered td,
.bordered th {
  border-left: 1px solid black;
  padding: 10px;
  text-align: left;
  border-bottom: 0.5px solid black;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #c2185b;
  color: white;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
}

.placeholder {
  margin-top: 100px;
}

.searchBar {
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  padding: 6px;
  border: 0.5px black solid;
  margin-top: 8px;
  margin-right: 16px;
}
.searchButton {
  margin-top: 10px;
  margin-bottom: 30px;
  background: #c2185b;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 14px;
  border: none;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
}
.notification-container {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  margin-bottom: 20px;
  border: 2px solid;
  margin-top: 40px;
  height: 50px;
  width: 100%;
  text-align: center;
  color: #3c763d;
  font-weight: bold;
}
