<body>
    <h1> Suggested Friends </h1>

    <table id="tablePreview" class="table table-striped table-sm table-hover">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let user of users">
                <td> {{user.fName}} </td>
                <td> {{user.lName}} </td>
                <td><button>Add Friend</button></td>
            </tr>
        </tbody>
    </table>
</body>






