<body>
  <form>
    <input class = "searchBar" type="text" name = "searchBox" placeholder="Search..." [(ngModel)] = "searchBox"/>
  </form>
  <table class="bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filter : 'firstname' : searchBox; let i = index" [class.selected] = "user === selectedUser"  >
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td><button (click)="sendRequest(user)" >Add Friend</button></td>
      </tr>
    </tbody>
  </table>
</body>





