<app-nav></app-nav>
<a mat-raised-button routerLink="/map">Map View</a>
<a mat-raised-button routerLink="/list">View All Venues</a>
<body>
  <table>
    <thead>
      <tr>
        <th>Venue Name</th>
        <th>Venue Location</th>
        <th>Venue Genre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of markers;">
        <td>{{ m.name }}</td>
        <td>{{ m.address }}</td>
        <td>{{ m.label }}</td>
      </tr>
    </tbody>
  </table>
</body>
<agm-map (mapReady)="loadMarkers($event)"> </agm-map>