<app-nav></app-nav>
<h1>Your Lists</h1>
<button class="addButton" mat-mini-fab>+</button>
<p></p>
<hr/>
<table>
    <tr >
        <th>Name</th>
        <th>Venues Listed</th>
    </tr>
    <tr>
        <td><a mat-button routerLink="/venue-list-view">Favourites List</a></td>
    <td>3</td>
    </tr>
    <tr>
            <button mat-button>
        <td>Want to go Bars
        </td></button>
        <td>64</td>
    </tr>
    <tr>        <button mat-button>
        <td>Want to go cafes
        </td></button>
        <td>8</td>
    </tr>
</table>