a {
  text-decoration: none;
  color: white;
}

body {
  text-align: center;
}
.btn {
  background: #c2185b;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 20px;
  border: none;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
  padding: 15px 40px;
  display: inline-block;
  margin: 15px 30px;
  font-weight: 600;
  position: relative;
}
