<body>
  <table class="bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of pendingRequests">
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>
          <button mat-button (click)="updateFriendStatus(user, 'Accepted')">Accept</button>
          <button mat-button
            (click)="updateFriendStatus(user, 'Declined')"
            class="declineBtn"
          >
            Decline
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="placeholder" *ngIf="!this.pendingRequests.length">
    No Results Found
  </p>
  <div class="notification-container" *ngIf="this.status">
    <p>{{ statusMessage }}</p>
  </div>
</body>
