<body>
  <table class="bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of pendingRequests">
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>
          <button mat-button (click)="updateFriendStatus(user, 'Accepted')">Accept</button>
          <button mat-button
            (click)="updateFriendStatus(user, 'Declined')"
            class="declineBtn"
          >
            Decline
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class ="placeholder-notification-container" *ngIf="this.placeholderStatus">
   <p>{{placeholderMessage}}</p>
  </div>

  <div class="success-notification-container" *ngIf="this.statusSuccess">
    <p>{{ statusSuccessMessage }}</p>
  </div>
</body>
