<body>
    <form>
        <input class = "searchBar" type="text" name = "searchBox" placeholder="Search..." [(ngModel)] = "searchBox"/>
      </form>
        <table class="bordered">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let user of pendingRequests">
            <tr *ngFor="let friend of user.friends">
              <td>{{ friend.firstname }}</td>
              <td>{{ friend.lastname }}</td>
              <td><button (click)="updateFriendStatus(friend, 'Accepted')">Accept</button> <button (click)="updateFriendStatus(friend, 'Declined')" class = "declineBtn">Decline</button></td>
        </tr>
          </tbody>
        </table>
      </body>
      