<mat-card>
    <mat-card-title>
        Create An Account
    </mat-card-title>
    <mat-card-content>
            <form class="example-form" id="createAccount" #userData="ngForm" (ngSubmit)="registerUser(userData.value)">
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" [(ngModel)]="firstname" name="firstname" required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Last Name" [(ngModel)]="lastname" name="lastname" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" [(ngModel)]="email" name="email" type="email" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Confirm Password" [(ngModel)]="password" name="password" type="password" required>
                        </mat-form-field>
                    </td>
                </tr>
                </table>
                <input type="submit" value="Create" mat-button>
            </form>
          </mat-card-content>
</mat-card> 


    

